
/*#cv-form{
    display: none;  
}*/

#cv-template{
    display: none;
    background-color: #FCD0BA;
} 


.myimg{
    /*border: 1px solid red; */
    border-radius: 50%; /*makes border becomes circular */
    width: 200px;
}

.background{
   background-color:  rgb(150, 73, 73);
}